force-app/main/default/flows/Discarded_User_Deactivation_Email_with_Account_list.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendemail</name>
        <label>sendemail</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>this is subject</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AccountList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Account_List_to_HTML_Body</name>
        <label>Add Account List to HTML Body</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AccountList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListOfAccounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Traversing_through_all_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_List</name>
        <label>Close List</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>AccountList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/ol&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendemail</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>recordLinks</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp;{!Traversing_through_all_accounts.Id}</expression>
    </formulas>
    <interviewLabel>Discarded User Deactivation Email with Account list {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Discarded User Deactivation Email with Account list</label>
    <loops>
        <description>Traversing through all the accounts owner by deactivated user.</description>
        <name>Traversing_through_all_accounts</name>
        <label>Traversing through all accounts</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Accounts_owned_by_deactivated_user</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Account_List_to_HTML_Body</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>To retrieve all Accounts owned by the deactivated user.</description>
        <name>Get_Accounts_owned_by_deactivated_user</name>
        <label>Get Accounts owned by deactivated user</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Traversing_through_all_accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts_owned_by_deactivated_user</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ListOfAccounts}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ListOfAccounts</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;li&gt;{!Traversing_through_all_accounts.Name} - &lt;a href=&quot;{!recordLinks}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;View Record&lt;/a&gt;&lt;/li&gt;</text>
    </textTemplates>
    <variables>
        <description>To store List of Account</description>
        <name>AccountList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;ol type=&quot;1&quot;&gt; </stringValue>
        </value>
    </variables>
</Flow>
