force-app/main/default/flows/Remove_Default_sent_and_Responded_challenge_3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>To assign the values on deletingVar i.e to add values sent and responded.</description>
        <name>assigning_the_values</name>
        <label>assigning the values</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Deletingvar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Deletingvar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>looping_to_delete</targetReference>
        </connector>
    </assignments>
    <description>To remove the default ‘Sent’ and ‘Responded’ status from the campaign member status object.</description>
    <environments>Default</environments>
    <interviewLabel>Remove Default sent and Responded( challenge 3) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Remove Default sent and Responded( challenge 3)</label>
    <loops>
        <description>Looping through elements to delete the records.</description>
        <name>looping_to_delete</name>
        <label>looping to delete</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <collectionReference>Deletingvar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>deleting_the_records</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>To create a Registered campaign member status record and isDefault to be true.</description>
        <name>Create_Declined_record</name>
        <label>Create Declined record</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>assigning_the_values</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>To create a Registered campaign member status record and isDefault to be true.</description>
        <name>Create_Registered_record</name>
        <label>Create Registered record</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Create_Declined_record</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>deleting the records</description>
        <name>deleting_the_records</name>
        <label>deleting the records</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>looping_to_delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>looping_to_delete</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Registered_record</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Deletingvar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
