force-app/main/default/flows/Send_email_to_oppty_owner_or_account_owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email_to_account_owner</name>
        <label>send email to account owner</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.Oppty_account_owner</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Oppty_account_owner</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_opportunity_owner</name>
        <label>Send email to opportunity owner</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Opportunity.oppty_if_stage_isclosed_module</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.oppty_if_stage_isclosed_module</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>checking_the_stage</name>
        <label>checking the stage</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>send_email_to_account_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_stage_is_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_opportunity_owner</targetReference>
            </connector>
            <label>if stage is closed</label>
        </rules>
    </decisions>
    <description>Module assignment 1.While Creating an Opportunity if stage is Open then send an emailalert to Opportunity
 owner else send an email alert to account owner. In email alert 
,Include current record Information like Opportunity Owner,Opportunity Name
,Close date and also include header and footer sample Images</description>
    <environments>Default</environments>
    <interviewLabel>Send email to oppty owner or account owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send email to oppty owner or account owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checking_the_stage</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
