force-app/main/default/flows/Test_ATM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Manager</name>
        <label>Assign Account Manager</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varAccountManager</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_through_all_team_member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Manager</name>
        <label>Assign Sales Manager</label>
        <locationX>792</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varSalesManager</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_through_all_team_member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Rep</name>
        <label>Assign Sales Rep</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varSalesRep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looping_through_all_team_member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_account_team_member_role</name>
        <label>Check the account team member role</label>
        <locationX>660</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Looping_through_all_team_member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_through_all_team_member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Rep</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Rep</targetReference>
            </connector>
            <label>Sales rep?</label>
        </rules>
        <rules>
            <name>Account_Sales_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_through_all_team_member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Manager</targetReference>
            </connector>
            <label>Account Sales Manager?</label>
        </rules>
        <rules>
            <name>sales_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Looping_through_all_team_member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Manager</targetReference>
            </connector>
            <label>sales manager?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varName</name>
        <dataType>String</dataType>
        <expression>{!Looping_through_all_team_member.User.FirstName} &amp;&apos; &apos;&amp; {!Looping_through_all_team_member.User.LastName}</expression>
    </formulas>
    <interviewLabel>Test ATM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test ATM</label>
    <loops>
        <name>Looping_through_all_team_member</name>
        <label>Looping through all team member</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_account_team_member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_the_account_team_member_role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_with_team_member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_account_team_member</name>
        <label>Get All account team member</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_through_all_team_member</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Rep</stringValue>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_with_team_member</name>
        <label>Update Account with team member</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <elementReference>varAccountManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Rep2__c</field>
            <value>
                <elementReference>varSalesRep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_manager__c</field>
            <value>
                <elementReference>varSalesManager</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_account_team_member</targetReference>
        </connector>
        <filterFormula>ISNEW() || ISCHANGED( {!$Record.TeamMemberRole})</filterFormula>
        <object>AccountTeamMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSalesManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSalesRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
