force-app/main/default/flows/test_group_loop_email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sending_email</name>
        <label>sending email</label>
        <locationX>484</locationX>
        <locationY>1199</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>HtmlBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>htmlsubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assiging_id</name>
        <label>assigning id</label>
        <locationX>572</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>userId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_user_specifically.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getting_every_member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checking_user_profile</name>
        <label>checking user profile</label>
        <locationX>616</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>first_condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>geting_the_group</targetReference>
            </connector>
            <label>first condition</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>test group loop email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test group loop email</label>
    <loops>
        <name>getting_every_member</name>
        <label>getting every member</label>
        <locationX>484</locationX>
        <locationY>743</locationY>
        <collectionReference>Getting_group_member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_user_specifically</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>sending_email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_user_specifically</name>
        <label>Get user specifically</label>
        <locationX>572</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assiging_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getting_every_member.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>geting_the_group</name>
        <label>getting the group</label>
        <locationX>484</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getting_group_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>owned_permission</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_group_member</name>
        <label>Getting group member</label>
        <locationX>484</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getting_every_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>geting_the_group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>checking_user_profile</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>emailbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;email body hey public groupemail working&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi &lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>HtmlBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;p&amp;gt;&amp;lt;span style=&quot;font-size: 11.0pt; font-family: &apos;Arial&apos;;&quot;&amp;gt;Dear Admin,&lt;/p&gt;&lt;p&gt;&amp;lt;p&amp;gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.FirstName}&lt;/span&gt; &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.LastName}&lt;/span&gt;has successfully signed up for Welcome-Integration Community. &amp;lt;/strong&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;p&amp;gt;&amp;lt;span style=&quot;font-size: 11.0pt; font-family: &apos;Arial&apos;;&quot;&amp;gt;&amp;lt;span style=&quot;color: #6EAD3C;&quot;&amp;gt;&amp;lt;a style=&quot;color: #6EAD3C;&quot; href=&quot;{!&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Record&lt;/span&gt;.Link}&quot;&amp;gt;Click here&amp;lt;/a&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;{!$Record}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;lt;p&amp;gt;&amp;lt;span style=&quot;font-size: 11.0pt; font-family: &apos;Arial&apos;;&quot;&amp;gt;Details &amp;amp;ndash;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;lt;table width=&quot;687&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;tbody&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;tr&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;td width=&quot;396&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;p&amp;gt;&amp;lt;span style=&quot;font-size: 11.0pt; font-family: &apos;Arial&apos;;&quot;&amp;gt;First Name : &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.FirstName}&lt;/span&gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;td width=&quot;291&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;p&amp;gt;&amp;lt;span style=&quot;font-size: 11.0pt; font-family: &apos;Arial&apos;;&quot;&amp;gt;Last Name : &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.LastName}&lt;/span&gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;tr&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;td width=&quot;396&quot;&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;br&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;p&amp;gt;&amp;lt;span style=&quot;font-size: 11.0pt; font-family: &apos;Arial&apos;;&quot;&amp;gt;Email : {!$Record.Email}&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/td&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/tr&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/tbody&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;/table&amp;gt;&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&amp;lt;br/&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&amp;lt;p&amp;gt;&amp;amp;nbsp;&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;p&amp;gt;&amp;amp;nbsp;&amp;lt;/p&amp;gt;&lt;/p&gt;&lt;p&gt;&amp;lt;p&amp;gt;&amp;lt;span style=&quot;font-size: 8.0pt; font-family: &apos;Arial&apos;; color: gray;&quot;&amp;gt;THIS E-MAIL AND ANY ATTACHED FILES ARE CONFIDENTIAL AND MAY BE LEGALLY PRIVILEGED. If you are not the addressee, any disclosure, reproduction, copying, distribution, or use of this communication is strictly prohibited. If you have received this transmission in error please notify the sender immediately and then delete this e-mail.&amp;lt;/span&amp;gt;&amp;lt;/p&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>htmlsubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(248, 248, 248); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Self-Registration of {!$Record.FirstName} {!$Record.LastName} for Welcome to Grace Site&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
