force-app/main/default/flows/User_Deactivation_Email_with_Account_list.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_System_Admin</name>
        <label>Send email to System Admin</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>recipientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>List of Acc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Account_List_to_HTML_Body</name>
        <label>Add Account List to HTML Body</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>AccountList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListOfAccounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Traversing_through_all_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_List</name>
        <label>Close List</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>AccountList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/ol&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_System_Admin_profileId</targetReference>
        </connector>
    </assignments>
    <description>This flow sends an email to Admins when a user is deactivated with account list.</description>
    <environments>Default</environments>
    <formulas>
        <name>recordLinks</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp;{!Traversing_through_all_accounts.Id}</expression>
    </formulas>
    <interviewLabel>User Deactivation Email with Account list {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Deactivation Email with Account list</label>
    <loops>
        <description>Traversing through all the accounts owned by deactivated user.</description>
        <name>Traversing_through_all_accounts</name>
        <label>Traversing through all accounts</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Accounts_owned_by_deactivated_user</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Account_List_to_HTML_Body</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>To retrieve all Accounts owned by the deactivated user.</description>
        <name>Get_Accounts_owned_by_deactivated_user</name>
        <label>Get Accounts owned by deactivated user</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Traversing_through_all_accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Admin_Email</name>
        <label>Get System Admin Email</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_email_to_System_Admin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>profileId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>recipientEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Admin_profileId</name>
        <label>Get System Admin profileId</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_System_Admin_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Value_systemAdmin</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>profileId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts_owned_by_deactivated_user</targetReference>
        </connector>
        <filterFormula>AND({!$Record.IsActive}=false, ISCHANGED({!$Record.IsActive}))</filterFormula>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The User {!$Record.FirstName} {!$Record.LastName} has been deactivated.&lt;/p&gt;&lt;p&gt;Below is the list of all the accounts currently owned by this user with link.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks,&lt;/p&gt;&lt;p&gt;Lucky Ali&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!AccountList}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ListOfAccounts</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;li&gt;&lt;a href=&quot;{!recordLinks}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Traversing_through_all_accounts.Name} &lt;/a&gt;&lt;/li&gt;</text>
    </textTemplates>
    <variables>
        <description>To store List of Account</description>
        <name>AccountList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&lt;ol type=&quot;1&quot;&gt; </stringValue>
        </value>
    </variables>
    <variables>
        <name>profileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
